<div class="ui container">
  <div class="row">
    <div class="ui blue segment">
      <h3>{{channels.selectedChannel.channel.name}}</h3><br>
      Channel Description:<br/>
      <p><i>{{channels.selectedChannel.channel.description}}</i></p></span><br/>
      <div ng-click="channels.leaveRoom(channels.selectedChannel.channel._id)" class="ui animated button" tabindex="0">
        <div class="visible content">Leave Room</div>
        <div class="hidden content">
          <i class="right arrow icon"></i>
        </div>
      </div>
      <div ng-click="channels.lockRoom(channels.selectedChannel.channel._id)" class="ui animated button" tabindex="0">
        <div class="visible content">Lock</div>
        <div class="hidden content">
          <i class="lock icon"></i>
        </div>
      </div>
    </div>
    <div id="theater">
      <div class="ui text container">
        <div id="playerContainer">
          <h1 ng-if="channels.selectedChannel.channel.locked === false">Waiting for Users to Join...</h1>
          <div id="player"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="upnextPlaylist">
    <h3 class="ui dividing header">Up Next:</h3>
    <ul id="upNext">
      <li ng-repeat="playlist in channels.playlist track by $index">
        <div class="playlistItem">
          <div class="leftImg">
            <a href="https://www.youtube.com/watch?v={{playlist.videoId}}"><img ng-src="{{playlist.image}}" target="_blank"></a>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="ui grid messageBox">
    <div class="currentUsers five wide column">
      <h3 class="ui dividing header">Users in Room</h3>
      <div class="usersList">
        <ul>
          <li ng-repeat="users in channels.users">
            {{users.local.username}}
          </li>
        </ul>
      </div>
    </div>
    <div class="messageContainer thirteen wide column">
      <div class="ui comments" id="messages">
        <h3 class="ui dividing header">Messages</h3>
        <div class="commentWrapper">
          <div class="comment twelve wide column" ng-repeat="message in channels.messages track by $index">
            <a class="avatar">
              <img ng-src="{{message.image}}">
            </a>
            <div class="content">
              <a class="author">{{message.username}}</a>
              <div class="text">
                {{message.text}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <form id="chatMessage" ng-submit="channels.sendMessage()">
        <input id="message" name="message" ng-model="channels.message.text">
        <button>Send</button>
      </form>
    </div>
    <div class="searchContainer four wide column">
      <form id="newVid" ng-submit="channels.search();">
        <div class="input-field">
          <i class="material-icons prefix">search</i>
          <input name="search" ng-model="channels.keyword" placeholder="">
        </div>
      </form>
      <div id="playlist">
        <ul id="results">
          <p ng-show="!!channels.errorMsg">{{channels.errorMsg}}</p>
          <li ng-repeat="video in channels.videos track by $index">
            <youtube video="video"></youtube>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
