<div ng-repeat="user in users.all">
  <p>Username: {{ user.local.username }}</p>
  <p>Full Name: {{ user.local.fullname }}</p>
  <img ng-src="{{ user.local.image }}" width="250px" />
  <p>Email: {{ user.local.email }}</p>
</div>

<h1>Login</h1>
<form ng-submit="users.authorize()">
  <div class="field">
    <label>Email</label>
    <input type="text" name="email" placeholder="Email" ng-model="users.user.email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" ng-model="users.user.password">
  </div>
  <button type="submit">Login</button>
</form>
